@media (min-width: 992px) and (max-width: 1199px){
	#defaultNavbar1 .ul_wrapper.dropdown-menu{
		width: 940px;
	}
	.navbar-default .navbar-nav > li > a{
		padding-left: 25px;
		padding-right: 25px;
	}
	.banner .owl-carousel::after{
		top: 0;
	}
	.section_1::before{
		height: 180px;
	}
	.section_3{
		padding: 50px 0;
	}
	.section_1 .col-sm-3,
	.section_2 .col-sm-4{
		padding: 0 15px;
	}
}
@media (min-width: 768px) and (max-width: 991px){	
	#defaultNavbar1 .ul_wrapper.dropdown-menu{
		width: 715px;
	}
	.dropdown-menu > li > a{
		font-size: 12px;
	}
	.navbar-nav > li{
		/* height: 60px; */
	}
	.title_bg{
		-webkit-background-size:130%;
		background-size:130%;
		letter-spacing: .3em;
		padding-left: 3px;
	}
	.title_bg span{
		font-size: 14px;
		letter-spacing: .2em
	}
	.gray_bg .d-img a{
		padding:0 15px;
	}
	.navbar-nav > li > .dropdown-menu span{
		font-size: 14px;
	}
	.banner .owl-carousel::after{
		top: 0;
		height: 250px;
	}
	.customer > .row{
		display: block;
	}
	.customer .col-sm-6{
		width:100%;
		padding: 15px 0;
	}
	.customer .col-sm-6 img,
	.customer .col-sm-6:last-child img{
		width: 60%;
		display: block;
		float: none!important;
		margin: 0 auto;
	}
	.customer .col-sm-6:last-child img{
		width: 70%;
	}
	.customer .row .col-sm-6:first-child::before,
	.customer .row .col-sm-6:first-child::after{
		display: none;
	}
	.page_title_append{
		-webkit-background-size: 80%;
		background-size: 80%;
	}
	.page_title_append h3{
		font-size: 32px;
	}
	.secp_title{
		margin-bottom: 30px;
	}
	.col-sm-pull-6{
		right: 0;
	}
	.col-sm-push-6{
		left: 0;
	}
	.page_detail .col-sm-6{
		width: 100%;
	}
	.story .row::before,
	.story >div:nth-of-type(1) .row::after, 
	.story >div:nth-of-type(2) .row::after,
	.story >div:nth-of-type(3) .row::after{
		display: none;
	}
	#defaultNavbar1 .navbar-nav > li:last-child{
		width: auto;
	}
	.search_module .input-group{
		margin-left:15%;
		width: auto;
	}
	#defaultNavbar1 .navbar-nav > li >a,
	#defaultNavbar1 .navbar-nav > li:first-child >a{
		padding: 10px 15px;
	}
}
@media screen and (max-width: 767px){
	.navbar-default .navbar-collapse{
		margin-left: 0;
		margin-right: 0;
	}
	.wrap > .minner{
		padding: 0;
	}
	.member_module{
		padding: 10px 0;
	}
	.member_module .container{
		padding: 0 10px;
	}
	.mnavbar.mn-collapse{
		display: none;
	}
	.hdmenu,
	.append_module{
		float: left;
		width: 100%;
	}
	.facebook_link{
		position: absolute;
		top: 3px;
		right: 20px;
	}
	.hdmenu ul.navbar-nav{
		width: calc(100% - 60px);
	}
	.hdmenu .navbar-nav>li{
		width: 33.33%;
	}
	.hdmenu .navbar-nav>li a{
		padding: 0 5px;
		text-align: center;
	}
	.hdmenu .navbar-nav > li::after{
		top: -1px;
	}
	.navbar-default{
		position: relative;
		padding: 0px 0 10px;
		-webkit-background-size: cover;
		background-size: cover;
	}
	#defaultNavbar1 .navbar-nav > li{
		height: auto;
		width: 100%;
	}
	.navbar > .container .navbar-brand{
		width: 150px;
		margin-left: 15px;
		margin-top: -15px;
	}
	.navbar-nav > li > .dropdown-menu{
		display: none;
	}
	#defaultNavbar1 .navbar-nav > li.open .dropdown-menu{
		display: block;
		position: relative;
		visibility: visible;
		left: 0;
		box-shadow: none;
		text-align: center;
		width: 100%;
		padding-left: 0;
	}
	.navbar-default .navbar-nav > li > a{
		padding: 10px 0;
	}
	#defaultNavbar1{
		padding: 0;
		display: none;
	}
	.navbar-collapse.in#defaultNavbar1{
		display: block;
		margin-top: 10px;
		margin-bottom: 0;
	}
	.navbar-default .navbar-nav > li > a{
		padding-left: 15px;
		padding-right: 15px;
		border-color: transparent;
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
		background-color: #fff;
		color: #e4007f;
	}
	#defaultNavbar1 .navbar-nav > li >a{
		margin-left: 0;
	}
	#defaultNavbar1 .ul_wrapper.dropdown-menu{
		top: 0;
	}
	.ul_wrapper.dropdown-menu ul{
		width: 50%;
	}
	.navbar-nav > li > .dropdown-menu li:first-child{
		margin-top: 0;
	}
	.navbar-nav > li > .dropdown-menu span{
		margin-left: 15px;
	}
	/* .navbar-toggle span:after, 
	.navbar-toggle span:before,
	.navbar-default .navbar-toggle::after{
		background: #000;		
	} */
	#defaultNavbar1 .navbar-nav > li::before,
	#defaultNavbar1 .navbar-nav > li::after{
		display: none;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background-color: transparent;
		border: none;
	}
	.navbar-default .navbar-toggle{
		border-color: transparent;
		background: none;
		margin: 0;
		position: absolute;
		left: 15px;
		top:35vw;
		z-index: 3;

	}
	.navbar-default .navbar-toggle::after{
		content: "";
		display: block;
		width: 70%;
		height: 3px;
		/* background: #e4007f; */
		position: absolute;
		bottom: 0;
		border-radius: 0;
		left: 15%;
		bottom: 1px;
	}
	.navbar-default .navbar-toggle:hover::after, 
	.navbar-default .navbar-toggle:focus::after{
		bottom: 6px;
	}
	.banner .owl-carousel::after{
		height: 80px;
		top: 15px;
	}
	.section_1{
		padding: 30px 0;
	}
	.section_1::before{
		height: 100%;
	}
	h1.i_title{
		margin-top: 30px;
		margin-bottom: 15px;
	}
	.section_1 .col-sm-3{
		padding: 0 15px;
	}
	.border_light{
		display: none;
	}
	.section_1 .col-sm-3{
		margin-bottom: 60px;
	}
	.section_2{
		margin-top: -20px;
	}
	.section_2::after{
		top: 0;
		background-position: top;
	}
	.section_2::before{
		display: none;
	}
	.section_2 .container{
		padding-top: 30px;
		padding-bottom: 0px;
	}
	.section_2 .row .col-sm-4:nth-of-type(1) .text_pic,
	.section_2 .row .col-sm-4:nth-of-type(2) .text_pic,
	.section_2 .row .col-sm-4:nth-of-type(3) .text_pic{
		margin-top: 15px;
	}
	.section_2 .col-sm-4{
		margin-bottom: 90px;
	}
	.section_3 .row.row-eq-height{
		display: block;
	}
	.section_3{
		padding-top: 0;
		height: 500px;
		background-position:right bottom;
		-webkit-background-size: 600px;
		background-size: 600px;
	}
	.navbar-default .navbar-nav > li > a::after{
		display: none;
	}
	.navbar-nav .open .dropdown-menu>li>a{
		padding-left: 15px;
	}
	#sch_key.form-control{
	/* border: none; */
	background: #fff;
	color: #000;
	padding: 3px;
	}
	#sch_key.form-control::-webkit-input-placeholder{
	color: #fff;
	padding-left: 5px;
	}
	.input-group-btn:last-child>.btn{
		background: none;
	border: none;
	box-shadow: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	padding: 2px 2px 0;
	}
	.search_module{
		padding: 0 10px;
	}
	.navbar-header img{
		width: 100%;
	}
	.search_module .input-group{
		width: 100%;
		margin-left: 0;
	}
	.title_bg{
		-webkit-background-size: 330%;
		background-size: 330%;
	}
	.gray_bg{
		padding: 15px 0;
	}
	.gray_bg .col-sm-4{
		margin: 30px 0;
	}
	.gray_bg .row.listBS .col-sm-4{
		margin-bottom: 0;
	}
	.gray_bg .row.listBS .col-sm-4:first-child{
		margin-top: 0;
	}
	.title_bg span{
		font-size: 16px;
		letter-spacing:.2em;
	}
	.customer > .row{
		display: block;
	}
	.customer .col-sm-6 img,
	.customer .col-sm-6:last-child img{
		width: 90%;
		display: block;
		float: none!important;
		margin: 0 auto;
	}
	.customer .col-sm-6:last-child img{
		width: 100%;
	}
	.customer .col-sm-6{
		padding: 15px 0;
	}
	.customer .row .col-sm-6:first-child::before,
	.customer .row .col-sm-6:first-child::after{
		display: none;
	}
	.foot .col-sm-6 ul,
	.foot .col-sm-6:last-child ul{
		padding-left: 0%;
	}
	.redmedia{
		text-align: center;
	}
	.page_title_append h3{
		font-size: 5vw;
	}
	.page_title_append{
		-webkit-background-size: 90%;
		background-size: 90%;
	}
	.form-group.required p.label-ui, .form-group.required .control-label{
		padding: 0;
	}
	.row.form-group  .col-sm-9,
	.control-label.col-sm-3{
		padding: 0;
	}
	iframe{
		width: 87vw;
		height: 87vw;
	}
	.page_detail .col-sm-6,
	.page_detail .col-sm-4,
	.product_page .col-sm-10{
		padding-left: 0;
		padding-right: 0;
	}
	.page_detail .col-sm-4 h3,
	.page_detail .col-sm-4 p{
		width: 100%;
	}
	.page_detail .col-sm-4 p{
		font-size: 18px;
		font-weight: normal;
	}
	.p_title{
		font-size: 22px;
	}
	.secp_title{
		font-size: 16px;
	}
	.page_detail .row{
		padding-top: 0;
		padding-bottom: 0;
	}
	.grid-title{
		display: none!important;
	}
	.left-menu .panel-group .panel{
		width: 95%;
	}
	.left-menu{
		position: fixed;
		z-index: 9;
		top: 0;
		background: #fff;
		transform: translateX(-110vw);
		border-right: 1px solid #efefef;
		height: 100vh;
		overflow-y: scroll;
		padding-left: 20%;
		transition: .3s ease-in;
	}
	.left-button{
		display: block;
		background: #000;
		color: #fff;
		border: none;
		padding: 15px 10px;
		position: fixed;
		z-index: 999;
		left: 0px;
		top: 80vh;
		width: 2.5em;
		font-size: 14px;
		transition: .3s ease-in;
	}
	.left-menu.left_menu_slide{		
		transform: translateX(-20vw);
		transition: .3s ease-in;
	}
	.left-button.left_menu_slide{			
		transform: translateX(83vw);
		transition: .3s ease-in;		
	}
	.append_right .listBS .col-sm-4{
		margin: 30px 0;
	}
	.append_right .listBS:last-child .col-sm-4:last-child .mbox:last-child{
		border-bottom: none;
	}
	.mpro-wrap .mpro-preview,
	.thumb-large .mlarge .figBS{
		width: 100%;
		max-width: 100%;
	}
	.thumb-large .owl-carousel .owl-item img{
		width: 65%;
		height: auto;
		max-height: 100%
	}
	.g_title{
		width: 100%;
	}	
	.photo_gallery .container .col-sm-4{
		padding-left: 0;
		padding-right: 0;
	}
	.photo_gallery .col-sm-4::after{
		width: 100%;
	}
	.photo_gallery .container .col-sm-4:nth-last-child(2)::after,
	.photo_gallery .container .col-sm-4:nth-last-child(3)::after{
		border-bottom:1px solid #efefef;
	}
	.navbar  .container .navbar-brand{
		width: 100%;
	}
	.navbar  .container{
		padding: 0;
	}
	.container > .navbar-header{
		margin: 0;
	}
	.navbar  .container .navbar-brand.tel_head{
		width: 50%;
		top: 0;
		padding: 10px 0;
		display: inline-block
	}
	.navbar  .container .navbar-brand.tel_head img{
		display: block;
		width: 100%;
		float: right;
	}
	.navbar-nav{
		margin-left: 0;
	}

	.product .row .col-xs-12 a{
		display: block;
		/* overflow:; */
		width: 100%;
		height: 100%;
		position: relative;
	}
	.product .row .col-xs-12 a img{
		width: 100%;
	}
	.product a h3.title{
		width: 100%;
		display: block;
		position: relative;
		margin-bottom: 0;
		margin-top: -42%;
	}
	#defaultNavbar1 .navbar-nav > li:last-child{
		width: 100%;
	}
	#defaultNavbar1 #sch_key.form-control{
		width: 100%;
	}
	.input-group-btn{
		width: 0;
	}
	.navbar-toggle span.sr-only{
		display: none;
	}
	.product .row .col-xs-12{
		margin: 15px 0;
	}
	.product .col-sm-8 a h3.title{
		position: absolute;
		margin-top: 0;
		transform: none;
		bottom: 0;
		color: #000;
		width: 100%;
		margin-top: 0;
	}
	.product .row .col-xs-12.col-sm-8:nth-of-type(1) h3.title, .product .row .col-xs-12:nth-of-type(2) h3.title{
		transform: none;
	}
}
/*特效*/
@media screen and (min-width: 768px){
	#defaultNavbar1 .navbar-nav > li:hover >a{
		background: #e0f997;
	}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
		background: rgba(224,249,151,1);
		color: #262626;
	}
	.product .row .col-xs-12.col-sm-8:nth-of-type(1) a:hover h3.title,
	.product .row .col-xs-12:nth-of-type(2) a:hover h3.title{
		color: #000;
		transform: translate(0,0px);
		transition: transform .3s,color .3s ease-in .2s;
	}
	.product .row .col-xs-12:nth-of-type(3) a:hover h3.title,
	.product .row .col-xs-12:nth-of-type(4) a:hover h3.title{
		color: #fff;
		transform: translate(0,0px);
		transition: transform .3s,color .3s ease-in .2s;
	}
	.product a:hover h3.title::after{
		opacity: 1;
		transition: opacity .3s .3s;
	}

}
@media screen and (max-width: 767px){
	#defaultNavbar1 .navbar-nav > li >a{
		background: #e0f997;
	}
	.dropdown-menu > li > a, .dropdown-menu > li > a{
		background: rgba(224,249,151,1);
	}
	.product .row .col-xs-12.col-sm-8:nth-of-type(1) h3.title,
	.product .row .col-xs-12:nth-of-type(2) a h3.title{
		color: #000;
		transform: translate(0,0px);
	}
	.product .row .col-xs-12:nth-of-type(3) a h3.title,
	.product .row .col-xs-12:nth-of-type(4) a h3.title{
		color: #fff;
		transform: translate(0,0px);
	}
	.product a h3.title::after{
		opacity: 1;
	}
	/*icon-bar*/
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #47794e;
		width: 35px;
		height: 3px;
	}
	.navbar-toggle .icon-bar + .icon-bar{
		margin-top: 8px;
	}
	.navbar-default .navbar-toggle.collapsed .icon-bar:last-child{
		margin-top: 8px;
		transform: rotate(0deg);		
		transition:transform .2s ease-in,margin-top .2s .4s ease-in
	}
	.navbar-default .navbar-toggle .icon-bar:last-child{
		margin-top: -4px;
		transform: rotate(45deg);
		transition-delay:.8s;
		transition: margin-top .2s ease-in,transform .2s .4s ease-in;
	}
	.navbar-default .navbar-toggle.collapsed .icon-bar:nth-of-type(2){
		position: relative;
		top: 0;
		margin-top:0px;
		transform: rotate(0deg);		
		transition:transform .2s ease-in,top .2s .4s ease-in;
	}
	.navbar-default .navbar-toggle .icon-bar:nth-of-type(2){	
		position: relative;	
		top: 10px;
		transform: rotate(-45deg) translate(-0px,0px);
		transition-delay:.8s;
		transition: top .2s ease-in,transform .2s .4s ease-in;
	}
	.navbar-default .navbar-toggle.collapsed .icon-bar:nth-of-type(3){
		opacity: 1;
	}
	.navbar-default .navbar-toggle .icon-bar:nth-of-type(3){
		opacity: 0;
		transition: .2s .4s ease-in;
	}
}