@charset "UTF-8";
/* line 7, ../sass/_index.scss */
h1.title {
  margin-top: 0;
}

/* line 11, ../sass/_index.scss */
a:hover, a:focus {
  text-decoration: none;
  outline: 0;
}

/*黑快馬預設刪除*/
/* line 19, ../sass/_index.scss */
.navbar-default .navbar-nav > .open > a {
  background: none;
}
/* line 21, ../sass/_index.scss */
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none;
}

/* line 26, ../sass/_index.scss */
.row {
  margin: 0;
}

/* line 31, ../sass/_index.scss */
.row_5.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_5.col1 #Dyn_2_1 > div.module:not(.module-ads) {
  max-width: 100%;
  width: 100%;
}

/* line 38, ../sass/_index.scss */
.row_4.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_4.col1 #Dyn_2_1 > div.module:not(.module-ads) {
  max-width: 100%;
  width: 100%;
}

/* line 45, ../sass/_index.scss */
.row_3.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_3.col1 #Dyn_2_1 > div.module:not(.module-ads) {
  max-width: 100%;
  width: 100%;
}

/* line 52, ../sass/_index.scss */
.row_2.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_2.col1 #Dyn_2_1 > div.module:not(.module-ads) {
  max-width: 100%;
  width: 100%;
}

/* line 60, ../sass/_index.scss */
.row_0.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_0.col1 #Dyn_2_1 > div.module:not(.module-ads) {
  max-width: 100%;
  width: 100%;
}
/* line 65, ../sass/_index.scss */
.row_0.col1 .col_02 > .mcol > div + div {
  max-width: 100%;
  width: 100%;
}

/* line 71, ../sass/_index.scss */
.footer > .minner, .header > .minner {
  max-width: 100%;
  width: 100%;
}

/* line 77, ../sass/_index.scss */
.row_5.col3 > .mrow, .row_5.col2 > .mrow {
  max-width: 100%;
  width: 100%;
}

/* line 84, ../sass/_index.scss */
.row_4.col3 > .mrow, .row_4.col2 > .mrow {
  max-width: 100%;
  width: 100%;
}

/* line 91, ../sass/_index.scss */
.row_3.col3 > .mrow, .row_3.col2 > .mrow {
  max-width: 100%;
  width: 100%;
}

/* line 98, ../sass/_index.scss */
.row_2.col3 > .mrow, .row_2.col2 > .mrow {
  max-width: 100%;
  width: 100%;
}

/* line 104, ../sass/_index.scss */
.row_1 > .mrow {
  max-width: 100%;
  width: 100%;
}

/* line 110, ../sass/_index.scss */
.navbar-nav .open > a {
  border-color: transparent;
}
/* line 112, ../sass/_index.scss */
.navbar-nav .open > a:hover, .navbar-nav .open > a:focus {
  border-color: transparent;
}
/* line 116, ../sass/_index.scss */
.navbar-nav > li > a:hover {
  border-color: transparent;
}

/* line 121, ../sass/_index.scss */
.go-pcurl {
  display: none;
}

/* line 125, ../sass/_index.scss */
.container-fluid {
  padding: 0;
}

/* line 129, ../sass/_index.scss */
.module {
  margin-bottom: 0;
}

/* line 133, ../sass/_index.scss */
.mpg-btn.pull-right a {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  color: #333;
  background: #efefef;
}

/* line 141, ../sass/_index.scss */
.form-select {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  color: #333;
  background: #efefef;
}
/* line 147, ../sass/_index.scss */
.form-select select {
  background: none;
}
/* line 149, ../sass/_index.scss */
.form-select select option {
  color: #333;
}

/* line 155, ../sass/_index.scss */
.form-datetime:after, .form-select:after {
  border-color: #333;
}

/* line 159, ../sass/_index.scss */
.mpg-btn.pull-right {
  height: 34px;
  /* width: 100%; */
  /* margin-bottom: 30px; */
}

/* line 165, ../sass/_index.scss */
.append_right .mbtn.pg-next {
  margin-top: 0;
  padding: 3.5px 20px;
  background: #efefef;
  border: none;
}
/* line 170, ../sass/_index.scss */
.append_right .mbtn.pg-next span {
  font-size: 14px;
  color: #333;
}

/* line 176, ../sass/_index.scss */
.mbtn.share_btn {
  display: none;
}

/* line 182, ../sass/_index.scss */
.form-select {
  /* height: 32px; */
}
/* line 184, ../sass/_index.scss */
.form-select select {
  position: relative;
  top: 5px;
}

/* line 190, ../sass/_index.scss */
.footer {
  padding: 0;
}

/* line 194, ../sass/_index.scss */
#_cgptlist_select-page {
  text-align: center;
  padding: 10px 20px;
}

/* line 199, ../sass/_index.scss */
ul.navbar-nav {
  margin-top: 0;
}

/* line 203, ../sass/_index.scss */
.module.module-minicart {
  /* display: none; */
  /* background: #000; */
}

/* line 209, ../sass/_index.scss */
.module-minicart .mbtn-minicart {
  display: none;
  background: none;
  border: none;
  box-shadow: none;
}
/* line 215, ../sass/_index.scss */
.module-minicart .ico.i-cart {
  background: url("/ezfiles/325/1325/img/2326/right_btn_23.png") no-repeat;
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}

/* line 222, ../sass/_index.scss */
.header {
  box-shadow: none;
}

/* line 226, ../sass/_index.scss */
.footer {
  background: none;
}

/* line 230, ../sass/_index.scss */
.mb {
  padding-top: 0;
}

/* line 234, ../sass/_index.scss */
.showother .consignee-btn-add, .ecconsignee-add .form-btn .mbtn-top {
  background-color: #000;
}

/* line 238, ../sass/_index.scss */
.showother .consignee-btn-add span, .ecconsignee-add .form-btn .mbtn-top span {
  color: #fff;
}

/* line 243, ../sass/_index.scss */
.ok span:before, .ok span:after {
  background-color: #000;
}

/* line 249, ../sass/_index.scss */
.close span:before, .close span:after {
  background-color: #000;
}

/* line 254, ../sass/_index.scss */
body {
  background: #f9ffc3;
}

/*hover展開選單*/
@media (min-width: 768px) {
  /* line 260, ../sass/_index.scss */
  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }

  /* line 263, ../sass/_index.scss */
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  /* line 266, ../sass/_index.scss */
  .dropdown-toggle {
    cursor: default;
  }
}
/*預設設定*/
/* line 273, ../sass/_index.scss */
* {
  font-family: "微軟正黑體","Microsoft Jhenghei","Arial","sans-serif";
  font-size: 16px;
  color: #333;
}

/* line 279, ../sass/_index.scss */
p {
  font-size: 13px;
  line-height: 2em;
}

/* line 284, ../sass/_index.scss */
a:hover {
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  /* line 289, ../sass/_index.scss */
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }
}
/* line 298, ../sass/_index.scss */
[class*="col-"] {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (min-width: 992px) {
  /* line 304, ../sass/_index.scss */
  .container {
    width: 800px;
    padding: 0;
  }
}
/*end*/
/*head*/
/* line 314, ../sass/_index.scss */
.member_module {
  background: #000;
  padding: 2px 0;
}

/* line 319, ../sass/_index.scss */
.hdmenu {
  float: left;
}
/* line 321, ../sass/_index.scss */
.hdmenu .navbar-nav > li {
  float: left;
}

/* line 326, ../sass/_index.scss */
.facebook_link {
  display: flex;
  margin-top: 5px;
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* line 337, ../sass/_index.scss */
.facebook_link img {
  width: 100%;
  height: 100%;
}
/* line 341, ../sass/_index.scss */
.facebook_link a {
  overflow: hidden;
}

/* line 346, ../sass/_index.scss */
a.facebook_link img:last-child {
  margin-right: -25px;
  width: 29px;
  height: 29px;
}

/* line 352, ../sass/_index.scss */
.hdmenu {
  margin-right: -15px;
}
/* line 355, ../sass/_index.scss */
.hdmenu .navbar-nav > li::after {
  content: "|";
  color: #fff;
  position: absolute;
  right: 0;
  top: 7px;
}
/* line 362, ../sass/_index.scss */
.hdmenu .navbar-nav > li a {
  color: #fff;
  font-size: 14px;
}

/* line 369, ../sass/_index.scss */
.append_module {
  float: right;
}

/* line 373, ../sass/_index.scss */
.navbar-default {
  margin-bottom: 0;
  background: #f9ffc3;
  border: none;
}

/* line 379, ../sass/_index.scss */
.container > .navbar-header {
  width: 100%;
  height: auto;
  display: block;
  min-height: auto;
}

/* line 386, ../sass/_index.scss */
.navbar .container .navbar-brand {
  width: 40%;
  height: auto;
  margin: 0px 0;
  padding: 0;
  display: block;
}
/* line 392, ../sass/_index.scss */
.navbar .container .navbar-brand.tel_head {
  width: 30%;
  float: right;
  position: relative;
  top: 2em;
}

/* line 400, ../sass/_index.scss */
.navbar-header img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* line 406, ../sass/_index.scss */
.search_module {
  display: none;
  width: 100%;
  height: auto;
}
/* line 410, ../sass/_index.scss */
.search_module .input-group {
  width: 30%;
  margin-left: 70px;
}

/* line 416, ../sass/_index.scss */
.navbar-default .navbar-collapse {
  display: block;
  height: auto;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 425, ../sass/_index.scss */
#defaultNavbar1 #sch_key.form-control {
  width: 150px;
  border: none;
  background: #fff;
  color: #000;
  padding: 3px 10px 3px;
  border-radius: 0px;
  height: 45px;
  margin-top: 3px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #eee;
}
/* line 436, ../sass/_index.scss */
#defaultNavbar1 #sch_key.form-control::-webkit-input-placeholder {
  color: #fff;
  padding-left: 5px;
}
/* line 441, ../sass/_index.scss */
#defaultNavbar1 .input-group-btn:last-child > .btn {
  border: none;
  background: none;
  position: absolute;
  right: 5px;
  top: 12px;
  z-index: 9999;
  padding: 0;
}

/* line 452, ../sass/_index.scss */
ul.navbar-nav {
  width: 100%;
}

/* line 456, ../sass/_index.scss */
#defaultNavbar1 .navbar-nav > li {
  width: auto;
  padding: 3px 3px 0;
  border-left: 1px solid #ccc;
}
/* line 460, ../sass/_index.scss */
#defaultNavbar1 .navbar-nav > li:last-child {
  width: 150px;
}
/* line 463, ../sass/_index.scss */
#defaultNavbar1 .navbar-nav > li > a {
  text-align: center;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  padding: 15px 20px 15px 20px;
  transition: .2s ease-in;
}
/* line 471, ../sass/_index.scss */
#defaultNavbar1 .navbar-nav > li:first-child > a {
  padding: 15px 30px 15px 30px;
}
/* line 474, ../sass/_index.scss */
#defaultNavbar1 .navbar-nav > li a span {
  color: #aaa;
  margin-top: -3px;
  font-size: 12px;
}

/* line 481, ../sass/_index.scss */
.mini_navbar {
  display: block;
}

/* line 486, ../sass/_index.scss */
#defaultNavbar1 .dropdown-menu {
  left: 0%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: rgba(224, 249, 151, 0.7);
}
/* line 493, ../sass/_index.scss */
#defaultNavbar1 .ul_wrapper.dropdown-menu {
  position: absolute;
  top: 55px;
  left: -208%;
  width: 940px;
}

/* line 501, ../sass/_index.scss */
.ul_wrapper.dropdown-menu ul {
  display: block;
  width: 25%;
  float: left;
  padding-left: 0px;
}
/* line 506, ../sass/_index.scss */
.ul_wrapper.dropdown-menu ul li {
  margin: 5px 0;
  list-style-type: none;
}

/* line 512, ../sass/_index.scss */
#defaultNavbar1 .ul_wrapper.dropdown-menu ul li a {
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 20px;
}

/* line 520, ../sass/_index.scss */
.dropdown-menu > li {
  margin: 5px 0;
}
/* line 522, ../sass/_index.scss */
.dropdown-menu > li > a {
  font-size: 14px;
  padding: 10px 15px;
  font-weight: normal;
  transition: .2s ease-in;
}

/*head-end*/
/*輪播圖*/
/* line 534, ../sass/_index.scss */
.banner.head .owl-carousel::before {
  content: "";
  display: block;
  width: 100%;
  height: 55%;
  background: #000;
  position: absolute;
  top: 25%;
  left: 0;
  background: url("/ezfiles/325/1325/img/2326/banner1_before.png") center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  z-index: 2;
}
/* line 549, ../sass/_index.scss */
.banner .owl-carousel .owl-controls {
  position: absolute;
  width: 100%;
  bottom: -53px;
}
/* line 555, ../sass/_index.scss */
.banner .owl-carousel .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 561, ../sass/_index.scss */
.banner .owl-carousel .owl-dots .owl-dot.active span {
  background: #000;
  opacity: .7;
}

/* line 569, ../sass/_index.scss */
.product {
  padding: 20px 0 15px;
}
/* line 571, ../sass/_index.scss */
.product .row .col-xs-12 {
  padding: 10px;
  overflow: hidden;
  position: relative;
}
/* line 575, ../sass/_index.scss */
.product .row .col-xs-12.col-sm-8 a img {
  opacity: 1;
  transition: .3s ease-in;
}
/* line 579, ../sass/_index.scss */
.product .row .col-xs-12 img {
  border: 0.5px solid #ccc;
}
/* line 582, ../sass/_index.scss */
.product .row .col-xs-12:nth-of-type(1) img, .product .row .col-xs-12:nth-of-type(2) img, .product .row .col-xs-12:nth-of-type(3) img {
  border-color: #327550;
}
/* line 585, ../sass/_index.scss */
.product .row .col-xs-12:nth-of-type(4) img {
  border-color: #ea5514;
}
/* line 589, ../sass/_index.scss */
.product a h3.title {
  position: absolute;
  bottom: 0;
  width: 92.5%;
  padding-left: 20px;
  padding: 20% 0px 15% 20px;
  font-size: 18px;
  font-weight: bold;
}
/* line 598, ../sass/_index.scss */
.product .col-sm-8 a h3.title {
  width: 96%;
  padding: 9% 0px 9% 20px;
}
/* line 602, ../sass/_index.scss */
.product a h3.title::after {
  content: "";
  background: url("/ezfiles/348/1348/img/2542/arrow_b.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  right: 20px;
  opacity: 0;
  transition: .3s;
}
/* line 616, ../sass/_index.scss */
.product .row .col-xs-12:nth-of-type(3) a h3.title::after, .product .row .col-xs-12:nth-of-type(4) a h3.title::after {
  background: url("/ezfiles/348/1348/img/2542/arrow_w.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 20px;
  height: 20px;
}
/* line 623, ../sass/_index.scss */
.product .row .col-xs-12.col-sm-8:nth-of-type(1) h3.title, .product .row .col-xs-12:nth-of-type(2) h3.title {
  background: rgba(255, 255, 255, 0.83);
  color: transparent;
  transform: translate(0, 250px);
}
/* line 628, ../sass/_index.scss */
.product .row .col-xs-12:nth-of-type(3) h3.title {
  background: rgba(143, 195, 31, 0.64);
  color: transparent;
  transform: translate(0, 200px);
}
/* line 633, ../sass/_index.scss */
.product .row .col-xs-12:nth-of-type(4) h3.title {
  background: rgba(243, 152, 0, 0.8);
  color: transparent;
  transform: translate(0, 200px);
}

/* line 641, ../sass/_index.scss */
.foot {
  padding-top: 25px;
  padding-bottom: 20px;
  background: #e0f997;
}
/* line 645, ../sass/_index.scss */
.foot h1.title {
  font-size: 26px;
  font-weight: bold;
}
/* line 649, ../sass/_index.scss */
.foot p {
  font-size: 12px;
  line-height: 20px;
}

/* line 655, ../sass/_index.scss */
.redmedia {
  text-align: center;
}
/* line 657, ../sass/_index.scss */
.redmedia a {
  color: #999;
  font-size: 12px;
}

/* line 663, ../sass/_index.scss */
.owl-controls {
  display: none;
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 3, ../sass/_responsive.scss */
  #defaultNavbar1 .ul_wrapper.dropdown-menu {
    width: 940px;
  }

  /* line 6, ../sass/_responsive.scss */
  .navbar-default .navbar-nav > li > a {
    padding-left: 25px;
    padding-right: 25px;
  }

  /* line 10, ../sass/_responsive.scss */
  .banner .owl-carousel::after {
    top: 0;
  }

  /* line 13, ../sass/_responsive.scss */
  .section_1::before {
    height: 180px;
  }

  /* line 16, ../sass/_responsive.scss */
  .section_3 {
    padding: 50px 0;
  }

  /* line 19, ../sass/_responsive.scss */
  .section_1 .col-sm-3, .section_2 .col-sm-4 {
    padding: 0 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 25, ../sass/_responsive.scss */
  #defaultNavbar1 .ul_wrapper.dropdown-menu {
    width: 715px;
  }

  /* line 28, ../sass/_responsive.scss */
  .dropdown-menu > li > a {
    font-size: 12px;
  }

  /* line 31, ../sass/_responsive.scss */
  .navbar-nav > li {
    /* height: 60px; */
  }

  /* line 34, ../sass/_responsive.scss */
  .title_bg {
    -webkit-background-size: 130%;
    background-size: 130%;
    letter-spacing: .3em;
    padding-left: 3px;
  }
  /* line 39, ../sass/_responsive.scss */
  .title_bg span {
    font-size: 14px;
    letter-spacing: 0.2em;
  }

  /* line 44, ../sass/_responsive.scss */
  .gray_bg .d-img a {
    padding: 0 15px;
  }

  /* line 47, ../sass/_responsive.scss */
  .navbar-nav > li > .dropdown-menu span {
    font-size: 14px;
  }

  /* line 50, ../sass/_responsive.scss */
  .banner .owl-carousel::after {
    top: 0;
    height: 250px;
  }

  /* line 55, ../sass/_responsive.scss */
  .customer > .row {
    display: block;
  }
  /* line 58, ../sass/_responsive.scss */
  .customer .col-sm-6 {
    width: 100%;
    padding: 15px 0;
  }
  /* line 61, ../sass/_responsive.scss */
  .customer .col-sm-6 img {
    width: 60%;
    display: block;
    float: none !important;
    margin: 0 auto;
  }
  /* line 67, ../sass/_responsive.scss */
  .customer .col-sm-6:last-child img {
    width: 60%;
    display: block;
    float: none !important;
    margin: 0 auto;
    width: 70%;
  }
  /* line 76, ../sass/_responsive.scss */
  .customer .row .col-sm-6:first-child::before, .customer .row .col-sm-6:first-child::after {
    display: none;
  }

  /* line 81, ../sass/_responsive.scss */
  .page_title_append {
    -webkit-background-size: 80%;
    background-size: 80%;
  }
  /* line 84, ../sass/_responsive.scss */
  .page_title_append h3 {
    font-size: 32px;
  }

  /* line 88, ../sass/_responsive.scss */
  .secp_title {
    margin-bottom: 30px;
  }

  /* line 91, ../sass/_responsive.scss */
  .col-sm-pull-6 {
    right: 0;
  }

  /* line 94, ../sass/_responsive.scss */
  .col-sm-push-6 {
    left: 0;
  }

  /* line 97, ../sass/_responsive.scss */
  .page_detail .col-sm-6 {
    width: 100%;
  }

  /* line 101, ../sass/_responsive.scss */
  .story .row::before {
    display: none;
  }
  /* line 105, ../sass/_responsive.scss */
  .story > div:nth-of-type(1) .row::after, .story > div:nth-of-type(2) .row::after, .story > div:nth-of-type(3) .row::after {
    display: none;
  }

  /* line 110, ../sass/_responsive.scss */
  #defaultNavbar1 .navbar-nav > li:last-child {
    width: auto;
  }

  /* line 113, ../sass/_responsive.scss */
  .search_module .input-group {
    margin-left: 15%;
    width: auto;
  }

  /* line 118, ../sass/_responsive.scss */
  #defaultNavbar1 .navbar-nav > li > a, #defaultNavbar1 .navbar-nav > li:first-child > a {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 767px) {
  /* line 125, ../sass/_responsive.scss */
  .navbar-default .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 129, ../sass/_responsive.scss */
  .wrap > .minner {
    padding: 0;
  }

  /* line 132, ../sass/_responsive.scss */
  .member_module {
    padding: 10px 0;
  }
  /* line 134, ../sass/_responsive.scss */
  .member_module .container {
    padding: 0 10px;
  }

  /* line 138, ../sass/_responsive.scss */
  .mnavbar.mn-collapse {
    display: none;
  }

  /* line 141, ../sass/_responsive.scss */
  .hdmenu, .append_module {
    float: left;
    width: 100%;
  }

  /* line 145, ../sass/_responsive.scss */
  .facebook_link {
    position: absolute;
    top: 3px;
    right: 20px;
  }

  /* line 151, ../sass/_responsive.scss */
  .hdmenu ul.navbar-nav {
    width: calc(100% - 60px);
  }
  /* line 154, ../sass/_responsive.scss */
  .hdmenu .navbar-nav > li {
    width: 33.33%;
  }
  /* line 156, ../sass/_responsive.scss */
  .hdmenu .navbar-nav > li a {
    padding: 0 5px;
    text-align: center;
  }
  /* line 160, ../sass/_responsive.scss */
  .hdmenu .navbar-nav > li::after {
    top: -1px;
  }

  /* line 165, ../sass/_responsive.scss */
  .navbar-default {
    position: relative;
    padding: 0px 0 10px;
    -webkit-background-size: cover;
    background-size: cover;
  }

  /* line 171, ../sass/_responsive.scss */
  #defaultNavbar1 .navbar-nav > li {
    height: auto;
    width: 100%;
  }

  /* line 175, ../sass/_responsive.scss */
  .navbar > .container .navbar-brand {
    width: 150px;
    margin-left: 15px;
    margin-top: -15px;
  }

  /* line 180, ../sass/_responsive.scss */
  .navbar-nav > li > .dropdown-menu {
    display: none;
  }

  /* line 183, ../sass/_responsive.scss */
  #defaultNavbar1 .navbar-nav > li.open .dropdown-menu {
    display: block;
    position: relative;
    visibility: visible;
    left: 0;
    box-shadow: none;
    text-align: center;
    width: 100%;
    padding-left: 0;
  }

  /* line 193, ../sass/_responsive.scss */
  .navbar-default .navbar-nav > li > a {
    padding: 10px 0;
  }

  /* line 196, ../sass/_responsive.scss */
  #defaultNavbar1 {
    padding: 0;
    display: none;
  }

  /* line 200, ../sass/_responsive.scss */
  .navbar-collapse.in#defaultNavbar1 {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
    position: absolute;
    background: #f9ffc3;
    width: 100%;
  }

  /* line 210, ../sass/_responsive.scss */
  .navbar-default .navbar-nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
    border-color: transparent;
  }
  /* line 215, ../sass/_responsive.scss */
  .navbar-default .navbar-nav > .open > a {
    background-color: #fff;
    color: #e4007f;
  }
  /* line 218, ../sass/_responsive.scss */
  .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
    color: #e4007f;
  }

  /* line 225, ../sass/_responsive.scss */
  #defaultNavbar1 .navbar-nav > li > a {
    margin-left: 0;
  }
  /* line 228, ../sass/_responsive.scss */
  #defaultNavbar1 .ul_wrapper.dropdown-menu {
    top: 0;
  }

  /* line 232, ../sass/_responsive.scss */
  .ul_wrapper.dropdown-menu ul {
    width: 50%;
  }

  /* line 236, ../sass/_responsive.scss */
  .navbar-nav > li > .dropdown-menu li:first-child {
    margin-top: 0;
  }
  /* line 239, ../sass/_responsive.scss */
  .navbar-nav > li > .dropdown-menu span {
    margin-left: 15px;
  }

  /* .navbar-toggle span:after, 
  .navbar-toggle span:before,
  .navbar-default .navbar-toggle::after{
    background: #000;   
  } */
  /* line 249, ../sass/_responsive.scss */
  #defaultNavbar1 .navbar-nav > li::before, #defaultNavbar1 .navbar-nav > li::after {
    display: none;
  }

  /* line 253, ../sass/_responsive.scss */
  .navbar-default .navbar-toggle {
    border-color: transparent;
    background: none;
    margin: 0;
    position: absolute;
    left: 15px;
    top: 35vw;
    z-index: 3;
  }
  /* line 254, ../sass/_responsive.scss */
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    border: none;
  }
  /* line 265, ../sass/_responsive.scss */
  .navbar-default .navbar-toggle::after {
    content: "";
    display: block;
    width: 70%;
    height: 3px;
    /* background: #e4007f; */
    position: absolute;
    bottom: 0;
    border-radius: 0;
    left: 15%;
    bottom: 1px;
  }
  /* line 277, ../sass/_responsive.scss */
  .navbar-default .navbar-toggle:hover::after, .navbar-default .navbar-toggle:focus::after {
    bottom: 6px;
  }

  /* line 281, ../sass/_responsive.scss */
  .banner .owl-carousel::after {
    height: 80px;
    top: 15px;
  }

  /* line 285, ../sass/_responsive.scss */
  .section_1 {
    padding: 30px 0;
  }
  /* line 287, ../sass/_responsive.scss */
  .section_1::before {
    height: 100%;
  }

  /* line 291, ../sass/_responsive.scss */
  h1.i_title {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  /* line 295, ../sass/_responsive.scss */
  .section_1 .col-sm-3 {
    padding: 0 15px;
  }

  /* line 298, ../sass/_responsive.scss */
  .border_light {
    display: none;
  }

  /* line 301, ../sass/_responsive.scss */
  .section_1 .col-sm-3 {
    margin-bottom: 60px;
  }

  /* line 304, ../sass/_responsive.scss */
  .section_2 {
    margin-top: -20px;
  }
  /* line 306, ../sass/_responsive.scss */
  .section_2::after {
    top: 0;
    background-position: top;
  }
  /* line 310, ../sass/_responsive.scss */
  .section_2::before {
    display: none;
  }
  /* line 313, ../sass/_responsive.scss */
  .section_2 .container {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  /* line 318, ../sass/_responsive.scss */
  .section_2 .row .col-sm-4:nth-of-type(1) .text_pic, .section_2 .row .col-sm-4:nth-of-type(2) .text_pic, .section_2 .row .col-sm-4:nth-of-type(3) .text_pic {
    margin-top: 15px;
  }
  /* line 322, ../sass/_responsive.scss */
  .section_2 .col-sm-4 {
    margin-bottom: 90px;
  }

  /* line 326, ../sass/_responsive.scss */
  .section_3 {
    padding-top: 0;
    height: 500px;
    background-position: right bottom;
    -webkit-background-size: 600px;
    background-size: 600px;
  }
  /* line 327, ../sass/_responsive.scss */
  .section_3 .row.row-eq-height {
    display: block;
  }

  /* line 336, ../sass/_responsive.scss */
  .navbar-default .navbar-nav > li > a::after {
    display: none;
  }

  /* line 339, ../sass/_responsive.scss */
  .navbar-nav .open .dropdown-menu > li > a {
    padding-left: 15px;
    font-size: 1em;
    margin: 0.5em 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* line 346, ../sass/_responsive.scss */
  #sch_key.form-control {
    /* border: none; */
    background: #fff;
    color: #000;
    padding: 3px;
  }
  /* line 351, ../sass/_responsive.scss */
  #sch_key.form-control::-webkit-input-placeholder {
    color: #fff;
    padding-left: 5px;
  }

  /* line 356, ../sass/_responsive.scss */
  .input-group-btn:last-child > .btn {
    background: none;
    border: none;
    box-shadow: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    padding: 2px 2px 0;
  }

  /* line 366, ../sass/_responsive.scss */
  .search_module {
    padding: 0 10px;
  }

  /* line 369, ../sass/_responsive.scss */
  .navbar-header img {
    width: 100%;
  }

  /* line 372, ../sass/_responsive.scss */
  .search_module .input-group {
    width: 100%;
    margin-left: 0;
  }

  /* line 376, ../sass/_responsive.scss */
  .title_bg {
    -webkit-background-size: 330%;
    background-size: 330%;
  }

  /* line 380, ../sass/_responsive.scss */
  .gray_bg {
    padding: 15px 0;
  }
  /* line 382, ../sass/_responsive.scss */
  .gray_bg .col-sm-4 {
    margin: 30px 0;
  }
  /* line 385, ../sass/_responsive.scss */
  .gray_bg .row.listBS .col-sm-4 {
    margin-bottom: 0;
  }
  /* line 387, ../sass/_responsive.scss */
  .gray_bg .row.listBS .col-sm-4:first-child {
    margin-top: 0;
  }

  /* line 392, ../sass/_responsive.scss */
  .title_bg span {
    font-size: 16px;
    letter-spacing: .2em;
  }

  /* line 397, ../sass/_responsive.scss */
  .customer > .row {
    display: block;
  }
  /* line 400, ../sass/_responsive.scss */
  .customer .col-sm-6 {
    padding: 15px 0;
  }
  /* line 401, ../sass/_responsive.scss */
  .customer .col-sm-6 img {
    width: 90%;
    display: block;
    float: none !important;
    margin: 0 auto;
  }
  /* line 407, ../sass/_responsive.scss */
  .customer .col-sm-6:last-child img {
    width: 90%;
    display: block;
    float: none !important;
    margin: 0 auto;
    width: 100%;
  }
  /* line 417, ../sass/_responsive.scss */
  .customer .row .col-sm-6:first-child::before, .customer .row .col-sm-6:first-child::after {
    display: none;
  }

  /* line 423, ../sass/_responsive.scss */
  .foot .col-sm-6 ul, .foot .col-sm-6:last-child ul {
    padding-left: 0%;
  }

  /* line 427, ../sass/_responsive.scss */
  .redmedia {
    text-align: center;
  }

  /* line 430, ../sass/_responsive.scss */
  .page_title_append {
    -webkit-background-size: 90%;
    background-size: 90%;
  }
  /* line 431, ../sass/_responsive.scss */
  .page_title_append h3 {
    font-size: 5vw;
  }

  /* line 438, ../sass/_responsive.scss */
  .form-group.required p.label-ui, .form-group.required .control-label {
    padding: 0;
  }

  /* line 442, ../sass/_responsive.scss */
  .row.form-group .col-sm-9, .control-label.col-sm-3 {
    padding: 0;
  }

  /* line 445, ../sass/_responsive.scss */
  iframe {
    height: 87vw;
  }

  /* line 450, ../sass/_responsive.scss */
  .page_detail .col-sm-6, .page_detail .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 455, ../sass/_responsive.scss */
  .product_page .col-sm-10 {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 460, ../sass/_responsive.scss */
  .page_detail .col-sm-4 h3 {
    width: 100%;
  }
  /* line 463, ../sass/_responsive.scss */
  .page_detail .col-sm-4 p {
    width: 100%;
    font-size: 18px;
    font-weight: normal;
  }

  /* line 469, ../sass/_responsive.scss */
  .p_title {
    font-size: 22px;
  }

  /* line 472, ../sass/_responsive.scss */
  .secp_title {
    font-size: 16px;
  }

  /* line 475, ../sass/_responsive.scss */
  .page_detail .row {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* line 479, ../sass/_responsive.scss */
  .grid-title {
    display: none !important;
  }

  /* line 482, ../sass/_responsive.scss */
  .left-menu {
    position: fixed;
    z-index: 9;
    top: 0;
    background: #f9ffc3;
    transform: translateX(-110vw);
    border-right: 1px solid #efefef;
    height: 100vh;
    overflow-y: scroll;
    padding-left: 20%;
    transition: .3s ease-in;
  }
  /* line 483, ../sass/_responsive.scss */
  .left-menu .panel-group .panel {
    width: 95%;
  }

  /* line 497, ../sass/_responsive.scss */
  .left-button {
    display: block;
    background: #000;
    color: #fff;
    border: none;
    padding: 15px 10px;
    position: fixed;
    z-index: 999;
    left: 0px;
    top: 80vh;
    width: 2.5em;
    font-size: 14px;
    transition: .3s ease-in;
  }

  /* line 511, ../sass/_responsive.scss */
  .left-menu.left_menu_slide {
    transform: translateX(-20vw);
    transition: .3s ease-in;
    padding-top: 2em;
  }

  /* line 516, ../sass/_responsive.scss */
  div.close {
    position: absolute;
    top: 7.5px;
    right: 0.5em;
    padding: 5px;
    border: 2px dotted #f9ffc3;
    background: #607d04;
    border-radius: 35px;
    box-shadow: 0px 0px 0px 2px #e0f896;
    display: block;
  }
  /* line 526, ../sass/_responsive.scss */
  div.close::before {
    content: '';
    display: block;
    width: 1em;
    height: 0.1em;
    background: #fff;
    transform: rotate(45deg);
    margin-top: 0.6em;
    margin-left: 0.1em;
  }
  /* line 536, ../sass/_responsive.scss */
  div.close::after {
    content: '';
    display: block;
    width: 1em;
    height: 0.1em;
    background: #fff;
    transform: rotate(-45deg);
    margin-top: -0.1em;
    margin-left: 0.1em;
  }

  /* line 547, ../sass/_responsive.scss */
  .left-button.left_menu_slide {
    transform: translateX(83vw);
    transition: .3s ease-in;
  }

  /* line 552, ../sass/_responsive.scss */
  .append_right .listBS .col-sm-4 {
    margin: 30px 0;
  }
  /* line 555, ../sass/_responsive.scss */
  .append_right .listBS:last-child .col-sm-4:last-child .mbox:last-child {
    border-bottom: none;
  }

  /* line 559, ../sass/_responsive.scss */
  .mpro-wrap .mpro-preview {
    width: 100%;
    max-width: 100%;
  }

  /* line 564, ../sass/_responsive.scss */
  .thumb-large .mlarge .figBS {
    width: 100%;
    max-width: 100%;
  }
  /* line 568, ../sass/_responsive.scss */
  .thumb-large .owl-carousel .owl-item img {
    width: 65%;
    height: auto;
    max-height: 100%;
  }

  /* line 574, ../sass/_responsive.scss */
  .g_title {
    width: 100%;
  }

  /* line 578, ../sass/_responsive.scss */
  .photo_gallery .container .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 582, ../sass/_responsive.scss */
  .photo_gallery .col-sm-4::after {
    width: 100%;
  }
  /* line 586, ../sass/_responsive.scss */
  .photo_gallery .container .col-sm-4:nth-last-child(2)::after, .photo_gallery .container .col-sm-4:nth-last-child(3)::after {
    border-bottom: 1px solid #efefef;
  }

  /* line 591, ../sass/_responsive.scss */
  .navbar .container {
    padding: 0;
  }
  /* line 592, ../sass/_responsive.scss */
  .navbar .container .navbar-brand {
    width: 100%;
  }

  /* line 597, ../sass/_responsive.scss */
  .container > .navbar-header {
    margin: 0;
  }

  /* line 600, ../sass/_responsive.scss */
  .navbar .container .navbar-brand.tel_head {
    width: 50%;
    top: 0;
    padding: 10px 0;
    display: inline-block;
  }
  /* line 605, ../sass/_responsive.scss */
  .navbar .container .navbar-brand.tel_head img {
    display: block;
    width: 100%;
    float: right;
  }

  /* line 611, ../sass/_responsive.scss */
  .navbar-nav {
    margin-left: 0;
  }

  /* line 615, ../sass/_responsive.scss */
  .product .row .col-xs-12 a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  /* line 620, ../sass/_responsive.scss */
  .product .row .col-xs-12 a img {
    width: 100%;
  }
  /* line 624, ../sass/_responsive.scss */
  .product a h3.title {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 0;
    margin-top: -42%;
  }

  /* line 633, ../sass/_responsive.scss */
  #defaultNavbar1 .navbar-nav > li:last-child, #defaultNavbar1 #sch_key.form-control {
    width: 100%;
  }

  /* line 637, ../sass/_responsive.scss */
  .input-group-btn {
    width: 0;
  }

  /* line 640, ../sass/_responsive.scss */
  .navbar-toggle span.sr-only {
    display: none;
  }

  /* line 644, ../sass/_responsive.scss */
  .product .row .col-xs-12 {
    margin: 15px 0;
  }
  /* line 647, ../sass/_responsive.scss */
  .product .col-sm-8 a h3.title {
    position: absolute;
    margin-top: 0;
    transform: none;
    bottom: 0;
    color: #000;
    width: 100%;
    margin-top: 0;
  }
  /* line 657, ../sass/_responsive.scss */
  .product .row .col-xs-12.col-sm-8:nth-of-type(1) h3.title, .product .row .col-xs-12:nth-of-type(2) h3.title {
    transform: none;
  }
}
/*特效*/
@media screen and (min-width: 768px) {
  /* line 666, ../sass/_responsive.scss */
  #defaultNavbar1 .navbar-nav > li:hover > a {
    background: #e0f997;
  }

  /* line 670, ../sass/_responsive.scss */
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #e0f997;
    color: #262626;
  }

  /* line 677, ../sass/_responsive.scss */
  .product .row .col-xs-12.col-sm-8:nth-of-type(1) a:hover h3.title, .product .row .col-xs-12:nth-of-type(2) a:hover h3.title {
    color: #000;
    transform: translate(0, 0px);
    transition: transform .3s,color .3s ease-in .2s;
  }
  /* line 682, ../sass/_responsive.scss */
  .product .row .col-xs-12:nth-of-type(3) a:hover h3.title, .product .row .col-xs-12:nth-of-type(4) a:hover h3.title {
    color: #fff;
    transform: translate(0, 0px);
    transition: transform .3s,color .3s ease-in .2s;
  }
  /* line 688, ../sass/_responsive.scss */
  .product a:hover h3.title::after {
    opacity: 1;
    transition: opacity .3s .3s;
  }
}
@media screen and (max-width: 767px) {
  /* line 696, ../sass/_responsive.scss */
  #defaultNavbar1 .navbar-nav > li > a {
    background: #e0f997;
  }

  /* line 699, ../sass/_responsive.scss */
  .dropdown-menu > li > a {
    background: #e0f997;
  }

  /* line 704, ../sass/_responsive.scss */
  .product .row .col-xs-12.col-sm-8:nth-of-type(1) h3.title, .product .row .col-xs-12:nth-of-type(2) a h3.title {
    color: #000;
    transform: translate(0, 0px);
  }
  /* line 708, ../sass/_responsive.scss */
  .product .row .col-xs-12:nth-of-type(3) a h3.title, .product .row .col-xs-12:nth-of-type(4) a h3.title {
    color: #fff;
    transform: translate(0, 0px);
  }
  /* line 713, ../sass/_responsive.scss */
  .product a h3.title::after {
    opacity: 1;
  }

  /*icon-bar*/
  /* line 718, ../sass/_responsive.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #47794e;
    width: 35px;
    height: 3px;
  }

  /* line 723, ../sass/_responsive.scss */
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 8px;
  }

  /* line 727, ../sass/_responsive.scss */
  .navbar-default .navbar-toggle.collapsed .icon-bar:last-child {
    margin-top: 8px;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in, margin-top 0.2s 0.4s ease-in;
  }
  /* line 732, ../sass/_responsive.scss */
  .navbar-default .navbar-toggle .icon-bar:last-child {
    margin-top: -4px;
    transform: rotate(45deg);
    transition-delay: .8s;
    transition: margin-top .2s ease-in,transform .2s .4s ease-in;
  }
  /* line 738, ../sass/_responsive.scss */
  .navbar-default .navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
    position: relative;
    top: 0;
    margin-top: 0px;
    transform: rotate(0deg);
    transition: transform .2s ease-in,top .2s .4s ease-in;
  }
  /* line 745, ../sass/_responsive.scss */
  .navbar-default .navbar-toggle .icon-bar:nth-of-type(2) {
    position: relative;
    top: 10px;
    transform: rotate(-45deg) translate(0px, 0px);
    transition-delay: .8s;
    transition: top .2s ease-in,transform .2s .4s ease-in;
  }
  /* line 752, ../sass/_responsive.scss */
  .navbar-default .navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
    opacity: 1;
  }
  /* line 755, ../sass/_responsive.scss */
  .navbar-default .navbar-toggle .icon-bar:nth-of-type(3) {
    opacity: 0;
    transition: .2s .4s ease-in;
  }
}
/* line 1, ../sass/_mshop.scss */
.module- {
  /*頁面明細頁*/
  /*商品明細*/
  /*語言*/
  /*商品明細*/
  /*商品明細頭部*/
  /*搜尋結果頁面*/
  /*商品明細內容*/
  /*最新消息列表*/
}
/* line 4, ../sass/_mshop.scss */
.module-detail .mpgtitle {
  display: none;
}
/* line 10, ../sass/_mshop.scss */
.module-ecptdetail .mpgtitle {
  background: none;
  border-left: none;
}
/* line 16, ../sass/_mshop.scss */
.module-misc {
  display: none;
}
/* line 21, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap {
  margin-bottom: 2em;
  background: #f9fec3;
  border: 2px solid #80a80d;
  padding: 1em;
  position: relative;
}
/* line 27, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-5 {
  width: 100%;
  max-width: 100%;
  margin-top: 2.5em;
  border-top: 1px dashed #ccc;
  padding-top: 2em;
}
/* line 33, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-5 .thumb-large {
  width: 80%;
  display: block;
  margin: 0 auto;
}
/* line 40, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-5 .owl-controls {
  display: block;
}
/* line 44, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-5 .owl-controls .owl-nav .owl-prev, .module-ecptdetail .mpro-wrap .col-sm-5 .owl-controls .owl-nav .owl-next {
  background-image: none;
  text-indent: 0;
  color: transparent;
  width: 4em;
  height: 4em;
  margin-bottom: 0;
  margin-top: -4em;
  display: flex;
  align-items: center;
}
/* line 54, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-5 .owl-controls .owl-nav .owl-prev:active, .module-ecptdetail .mpro-wrap .col-sm-5 .owl-controls .owl-nav .owl-next:active {
  background: none;
}
/* line 57, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-5 .owl-controls .owl-nav .owl-prev::before, .module-ecptdetail .mpro-wrap .col-sm-5 .owl-controls .owl-nav .owl-next::before {
  content: "";
  display: flex;
  color: #607d04;
  font-size: 4em;
  position: relative;
  z-index: 99999;
  font-weight: bold;
}
/* line 67, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-5 .owl-controls .owl-nav .owl-prev {
  left: -3em;
}
/* line 69, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-5 .owl-controls .owl-nav .owl-prev::before {
  content: "<";
}
/* line 73, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-5 .owl-controls .owl-nav .owl-next {
  right: -4em;
}
/* line 75, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-5 .owl-controls .owl-nav .owl-next::before {
  content: ">";
}
/* line 81, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-5 .owl-controls .owl-dots {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 86, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-5 .owl-controls .owl-dots span {
  background: #607d04;
}
/* line 92, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-7 {
  position: absolute;
  width: 100%;
  top: 1em;
}
/* line 96, ../sass/_mshop.scss */
.module-ecptdetail .mpro-wrap .col-sm-7 h3 {
  padding: 0;
  font-weight: bold;
}
/* line 105, ../sass/_mshop.scss */
.module-complex .nav .active a, .module-complex .nav .active a:hover, .module-complex .nav .active a:focus {
  font-size: 1.2em;
  font-weight: bold;
  background: none;
  border: none;
  padding: 0 0 0.5em;
  margin-bottom: 0em;
}
/* line 118, ../sass/_mshop.scss */
.module-complex .page-product-detail table tbody tr td {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  line-height: 2em;
}
/* line 122, ../sass/_mshop.scss */
.module-complex .page-product-detail table tbody tr td.green_color_1 {
  background: #607d04;
  color: #fff;
}
/* line 126, ../sass/_mshop.scss */
.module-complex .page-product-detail table tbody tr td.green_color_2 {
  background: #e0f896;
}
/* line 133, ../sass/_mshop.scss */
.module-complex .page-product-detail .container {
  width: 100%;
  box-shadow: none;
  padding: 1em 0;
  top: 0;
}
/* line 140, ../sass/_mshop.scss */
.module-complex .tab-pane {
  padding: 0;
}
/* line 146, ../sass/_mshop.scss */
.module-meccglist .mt, .module- .mt {
  padding-bottom: 1em;
}
/* line 148, ../sass/_mshop.scss */
.module-meccglist .mt h3, .module- .mt h3 {
  line-height: 1em;
  padding-bottom: 0.5em;
  padding-left: 0;
  color: #000;
  border-color: #ccc;
  font-weight: bold;
}
/* line 158, ../sass/_mshop.scss */
.module-sublist {
  display: none;
}
/* line 163, ../sass/_mshop.scss */
.module- .msg {
  margin-bottom: 1em;
}
/* line 169, ../sass/_mshop.scss */
.module-ptlist .row.listBS, .module- .row.listBS {
  margin: 2em 0;
}
@media screen and (max-width: 767px) {
  /* line 169, ../sass/_mshop.scss */
  .module-ptlist .row.listBS, .module- .row.listBS {
    margin: 0;
  }
  /* line 173, ../sass/_mshop.scss */
  .module-ptlist .row.listBS .d-item, .module- .row.listBS .d-item {
    margin: 2em 0;
  }
}
/* line 177, ../sass/_mshop.scss */
.module-ptlist .row.listBS:first-child, .module- .row.listBS:first-child {
  margin-top: 0;
}
/* line 180, ../sass/_mshop.scss */
.module-ptlist .row.listBS:last-child, .module- .row.listBS:last-child {
  margin-bottom: 0;
}
/* line 185, ../sass/_mshop.scss */
.module-ptlist .row.listBS .d-item .d-img a, .module- .row.listBS .d-item .d-img a {
  height: auto;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 1px 1px #ccc;
  background: #f9ffc3;
  border: 2px solid #80a80d;
}
@media screen and (max-width: 767px) {
  /* line 185, ../sass/_mshop.scss */
  .module-ptlist .row.listBS .d-item .d-img a, .module- .row.listBS .d-item .d-img a {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
/* line 201, ../sass/_mshop.scss */
.module-ptlist .row.listBS .d-item .d-img a img, .module- .row.listBS .d-item .d-img a img {
  height: auto;
  max-width: none;
}
@media screen and (max-width: 767px) {
  /* line 201, ../sass/_mshop.scss */
  .module-ptlist .row.listBS .d-item .d-img a img, .module- .row.listBS .d-item .d-img a img {
    width: 100%;
    transform: translateX(0);
    height: auto;
    max-width: 100%;
  }
}
/* line 215, ../sass/_mshop.scss */
.module-ptlist .row.listBS .d-item .d-txt, .module- .row.listBS .d-item .d-txt {
  max-width: 100%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2em;
}
@media screen and (max-width: 767px) {
  /* line 215, ../sass/_mshop.scss */
  .module-ptlist .row.listBS .d-item .d-txt, .module- .row.listBS .d-item .d-txt {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
/* line 227, ../sass/_mshop.scss */
.module-ptlist .row.listBS .d-item .d-txt h5 a, .module- .row.listBS .d-item .d-txt h5 a {
  background: #607d04;
  color: #fff;
  padding: 1.5em 1em;
  display: block;
  width: 100%;
  font-size: 1em;
  border-radius: 0 0 15px 15px;
  line-height: 1.5em;
  box-shadow: 1px 1px 1px 1px #ccc;
}
/* line 243, ../sass/_mshop.scss */
.module-ptlist .mpgbar .mpg-btn .mbtn, .module- .mpgbar .mpg-btn .mbtn {
  background: #607d04;
}
/* line 245, ../sass/_mshop.scss */
.module-ptlist .mpgbar .mpg-btn .mbtn span, .module- .mpgbar .mpg-btn .mbtn span {
  color: #fff;
}
/* line 250, ../sass/_mshop.scss */
.module-ptlist .mpgbar .form-control, .module- .mpgbar .form-control {
  background: #607d04;
}
/* line 252, ../sass/_mshop.scss */
.module-ptlist .mpgbar .form-control select, .module- .mpgbar .form-control select {
  color: #fff;
}
/* line 255, ../sass/_mshop.scss */
.module-ptlist .mpgbar .form-control::after, .module- .mpgbar .form-control::after {
  border-color: #fff;
}
/* line 263, ../sass/_mshop.scss */
.module-rcglist .row.listBS {
  margin: 2em 0;
}
/* line 265, ../sass/_mshop.scss */
.module-rcglist .row.listBS:first-child {
  margin-top: 0;
}
/* line 268, ../sass/_mshop.scss */
.module-rcglist .row.listBS:last-child {
  margin-bottom: 0;
}
/* line 274, ../sass/_mshop.scss */
.module-rcglist .d-txt h5 a {
  font-weight: bold;
}
/* line 281, ../sass/_mshop.scss */
.module-rcglist .mpgbar .mpg-btn .mbtn {
  background: #607d04;
}
/* line 283, ../sass/_mshop.scss */
.module-rcglist .mpgbar .mpg-btn .mbtn span {
  color: #fff;
}
/* line 288, ../sass/_mshop.scss */
.module-rcglist .mpgbar .form-control {
  background: #607d04;
}
/* line 290, ../sass/_mshop.scss */
.module-rcglist .mpgbar .form-control select {
  color: #fff;
}
/* line 293, ../sass/_mshop.scss */
.module-rcglist .mpgbar .form-control::after {
  border-color: #fff;
}

/* line 300, ../sass/_mshop.scss */
.mpgdetail {
  padding: 0;
}

/*上板選單圖片*/
/* line 2, ../sass/_page.scss */
.title- {
  /*圖片放的地方*/
  /*圖片通用設定*/
}
/* line 5, ../sass/_page.scss */
.title-aboutus .title_bg {
  background: url("/ezfiles/348/1348/img/2542/aboutus.jpg") center center no-repeat;
}
/* line 10, ../sass/_page.scss */
.title-contactus .title_bg {
  background: url("/ezfiles/348/1348/img/2542/contactus.jpg") center center no-repeat;
}
/* line 15, ../sass/_page.scss */
.title-product .title_bg {
  background: url("/ezfiles/348/1348/img/2542/product.jpg") center center no-repeat;
}
/* line 20, ../sass/_page.scss */
.title-newsdetail .title_bg {
  background: url("/ezfiles/348/1348/img/2542/news.jpg") center center no-repeat;
}
/* line 25, ../sass/_page.scss */
.title-aboutus, .title-contactus, .title-product, .title-newsdetail {
  height: 70vh;
}
@media screen and (max-width: 767px) {
  /* line 25, ../sass/_page.scss */
  .title-aboutus, .title-contactus, .title-product, .title-newsdetail {
    height: 200px;
  }
}
/* line 30, ../sass/_page.scss */
.title-aboutus .title_bg, .title-contactus .title_bg, .title-product .title_bg, .title-newsdetail .title_bg {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  /* line 30, ../sass/_page.scss */
  .title-aboutus .title_bg, .title-contactus .title_bg, .title-product .title_bg, .title-newsdetail .title_bg {
    background-size: 100%;
    background-attachment: scroll;
  }
}
/* line 39, ../sass/_page.scss */
.title-aboutus .title_bg::before, .title-contactus .title_bg::before, .title-product .title_bg::before, .title-newsdetail .title_bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 27%, rgba(255, 255, 255, 0.5) 49%, #f9ffc3 76%, #f9ffc3 100%);
  position: absolute;
  top: 10em;
}
@media screen and (max-width: 767px) {
  /* line 39, ../sass/_page.scss */
  .title-aboutus .title_bg::before, .title-contactus .title_bg::before, .title-product .title_bg::before, .title-newsdetail .title_bg::before {
    display: none;
  }
}

/*內頁*/
/* line 55, ../sass/_page.scss */
.page- {
  /*共同配置*/
  /*各頁面自行設置*/
  /*承力簡介*/
  /*承力簡介*/
  /*最新消息明細*/
}
/* line 58, ../sass/_page.scss */
.page-aboutus > .container, .page-contactus > .container, .page-product > .container, .page-newsdetail > .container {
  padding: 2em 1em;
  background: #e0f896;
  position: relative;
  top: -5em;
  box-shadow: 0px 0px 10px 1px #777;
}
@media screen and (max-width: 767px) {
  /* line 58, ../sass/_page.scss */
  .page-aboutus > .container, .page-contactus > .container, .page-product > .container, .page-newsdetail > .container {
    top: 0;
  }
}
/* line 68, ../sass/_page.scss */
.page-aboutus > .container hr, .page-contactus > .container hr, .page-product > .container hr, .page-newsdetail > .container hr {
  border-color: #ccc;
  border-width: 2px;
}
/* line 73, ../sass/_page.scss */
.page-aboutus h1.title, .page-contactus h1.title, .page-product h1.title, .page-newsdetail h1.title {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1.5em;
}
/* line 77, ../sass/_page.scss */
.page-aboutus h1.title span, .page-contactus h1.title span, .page-product h1.title span, .page-newsdetail h1.title span {
  font-size: 0.5em;
  font-weight: normal;
}
/* line 82, ../sass/_page.scss */
.page-aboutus p, .page-contactus p, .page-product p, .page-newsdetail p {
  font-size: 1em;
}
/* line 89, ../sass/_page.scss */
.page-aboutus .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  /* line 89, ../sass/_page.scss */
  .page-aboutus .row {
    display: block;
  }
}
/* line 99, ../sass/_page.scss */
.page-aboutus .col-sm-6 {
  padding: 0 0.5em;
}
/* line 101, ../sass/_page.scss */
.page-aboutus .col-sm-6 img {
  border: 5px solid #fff;
  box-shadow: 0px 0px 0px 1px #ccc;
}
/* line 109, ../sass/_page.scss */
.page-contactus ul {
  list-style-type: none;
  padding-left: 0.5em;
  line-height: 1.5em;
}
/* line 113, ../sass/_page.scss */
.page-contactus ul li {
  margin-bottom: 1.2em;
  font-size: 14px;
  font-weight: bold;
}
/* line 120, ../sass/_page.scss */
.page-contactus h1.title a.pull-right {
  width: 2em;
  height: 2em;
}
/* line 125, ../sass/_page.scss */
.page-contactus p img {
  border: 5px solid #fff;
  box-shadow: 0px 0px 0px 1px #ccc;
}
/* line 129, ../sass/_page.scss */
.page-contactus form {
  margin-top: 3em;
  border-color: transparent !important;
}
/* line 132, ../sass/_page.scss */
.page-contactus form .row, .page-contactus form label[class*="col"], .page-contactus form div[class*="col"] {
  border-color: transparent !important;
}
/* line 135, ../sass/_page.scss */
.page-contactus form label.col-sm-3 {
  width: 15%;
  padding-top: 0.5em;
  position: relative;
  top: 0.1em;
  padding: 0.3em 0 !important;
}
@media screen and (max-width: 767px) {
  /* line 135, ../sass/_page.scss */
  .page-contactus form label.col-sm-3 {
    width: 100%;
  }
}
/* line 145, ../sass/_page.scss */
.page-contactus form .col-sm-9 {
  width: 85%;
  padding: 0.3em 0 !important;
}
/* line 148, ../sass/_page.scss */
.page-contactus form .col-sm-9 input {
  border-radius: 0 !important;
}
/* line 154, ../sass/_page.scss */
.page-contactus .form-btn button {
  background: #607d04;
  color: #fff;
  border: none;
}

/* line 166, ../sass/_page.scss */
.mobile_list_button {
  display: none;
}
@media screen and (max-width: 767px) {
  /* line 166, ../sass/_page.scss */
  .mobile_list_button {
    position: absolute;
    z-index: 9;
    top: 3px;
    left: 1px;
    background: #e0f896;
    border: 2px dashed #fff;
    color: #fff;
    box-shadow: 0px 0px 0px 3px #e0f896;
    border-radius: 0px 10px 10px 0;
    padding: 7.5px 0.5em;
    color: #000;
  }
}

@media screen and (max-width: 767px) {
  /* line 183, ../sass/_page.scss */
  .input-group {
    display: block;
  }
}
/*左側選單*/
/*齒輪動畫keyframe*/
@keyframes rotate-lb {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360000deg);
  }
}
@keyframes rotate-rt {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-180000deg);
  }
}
/* line 21, ../sass/_leftmenu.scss */
.left-menu {
  padding-right: 1em;
}
/* line 23, ../sass/_leftmenu.scss */
.left-menu .panel-default {
  border: none;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 1.5em;
}
/* line 28, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-heading {
  padding: 0;
  background: none;
}
/* line 32, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-heading a h4, .left-menu .panel-default .panel-heading a span {
  display: block;
  font-size: 1.2em;
}
/* line 36, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-heading a span {
  font-size: 0.8em;
}
/* line 40, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-heading a.panel-title.collapsed h4 {
  position: relative;
  padding-left: 2.3em;
}
/* line 43, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-heading a.panel-title.collapsed h4::before {
  content: '';
  display: block;
  background: url("/ezfiles/348/1348/img/2542/lb.png") no-repeat;
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: 0;
  bottom: 0;
  animation-duration: 0s;
}
/* line 55, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-heading a.panel-title.collapsed h4::after {
  content: '';
  display: block;
  background: url("/ezfiles/348/1348/img/2542/rt.png") no-repeat;
  background-size: cover;
  width: 1em;
  height: 1em;
  position: absolute;
  left: 1em;
  top: 0;
  animation-duration: 0s;
}
/* line 70, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-heading a.panel-title h4, .left-menu .panel-default .panel-heading a.panel-title:hover h4 {
  position: relative;
  padding-left: 2.3em;
}
/* line 73, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-heading a.panel-title h4::before, .left-menu .panel-default .panel-heading a.panel-title:hover h4::before {
  content: '';
  display: block;
  background: url("/ezfiles/348/1348/img/2542/lb.png") no-repeat;
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 84, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-heading a.panel-title h4::after, .left-menu .panel-default .panel-heading a.panel-title:hover h4::after {
  content: '';
  display: block;
  background: url("/ezfiles/348/1348/img/2542/rt.png") no-repeat;
  background-size: cover;
  width: 1em;
  height: 1em;
  position: absolute;
  left: 1em;
  top: 0;
}
/* line 95, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-heading a.panel-title h4::before, .left-menu .panel-default .panel-heading a.panel-title:hover h4::before {
  animation-duration: 3000s;
  animation-name: rotate-lb;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* line 101, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-heading a.panel-title h4::after, .left-menu .panel-default .panel-heading a.panel-title:hover h4::after {
  animation-duration: 3000s;
  animation-name: rotate-rt;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* line 111, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-collapse {
  background: #f9ffc3;
  padding: 0.5em;
}
/* line 114, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-collapse .sec_bg {
  margin-bottom: 0;
}
/* line 116, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-collapse .sec_bg h4 {
  padding: 0.5em;
  transition: 0.3s cubic-bezier(1, 0.22, 0.45, 1.49);
}
/* line 119, ../sass/_leftmenu.scss */
.left-menu .panel-default .panel-collapse .sec_bg h4:hover {
  background: #607d04;
  color: #fff;
}

/*# sourceMappingURL=usercss.css.map */
