$color_1:#f9ffc3;
$color_2:#e0f896;
$color_3:#607d04;
$color_4:#f9fec3;
$color_5:#80a80d;
$transition_1:.3s cubic-bezier(1, 0.22, 0.45, 1.49);
h1.title{
  margin-top: 0;
}
a{
  &:hover,&:focus{
    text-decoration:none;
    outline:0;
  }
}

/*黑快馬預設刪除*/

.navbar-default .navbar-nav > .open > a {
  background: none;
  &:hover, &:focus {
    background: none;
  }
}

.row {
  margin: 0;
}

.row_5.col1 #Dyn_2_1 > div {
  > div.module:not(.module-ads), &.module:not(.module-ads) {
    max-width: 100%;
    width: 100%;
  }
}

.row_4.col1 #Dyn_2_1 > div {
  > div.module:not(.module-ads), &.module:not(.module-ads) {
    max-width: 100%;
    width: 100%;
  }
}

.row_3.col1 #Dyn_2_1 > div {
  > div.module:not(.module-ads), &.module:not(.module-ads) {
    max-width: 100%;
    width: 100%;
  }
}

.row_2.col1 #Dyn_2_1 > div {
  > div.module:not(.module-ads), &.module:not(.module-ads) {
    max-width: 100%;
    width: 100%;
  }
}

.row_0.col1 {
  #Dyn_2_1 > div {
    > div.module:not(.module-ads), &.module:not(.module-ads) {
      max-width: 100%;
      width: 100%;
    }
  }
  .col_02 > .mcol > div + div {
    max-width: 100%;
    width: 100%;
  }
}

.footer > .minner, .header > .minner {
  max-width: 100%;
  width: 100%;
}

.row_5 {
  &.col3 > .mrow, &.col2 > .mrow {
    max-width: 100%;
    width: 100%;
  }
}

.row_4 {
  &.col3 > .mrow, &.col2 > .mrow {
    max-width: 100%;
    width: 100%;
  }
}

.row_3 {
  &.col3 > .mrow, &.col2 > .mrow {
    max-width: 100%;
    width: 100%;
  }
}

.row_2 {
  &.col3 > .mrow, &.col2 > .mrow {
    max-width: 100%;
    width: 100%;
  }
}

.row_1 > .mrow {
  max-width: 100%;
  width: 100%;
}

.navbar-nav {
  .open > a {
    border-color: transparent;
    &:hover, &:focus {
      border-color: transparent;
    }
  }
  > li > a:hover {
    border-color: transparent;
  }
}

.go-pcurl {
  display: none;
}

.container-fluid {
  padding: 0;
}

.module {
  margin-bottom: 0;
}

.mpg-btn.pull-right a {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  color: #333;
  background: #efefef;
}

.form-select {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  color: #333;
  background: #efefef;
  select {
    background: none;
    option {
      color: #333;
    }
  }
}

.form-datetime:after, .form-select:after {
  border-color: #333;
}

.mpg-btn.pull-right {
  height: 34px;
  /* width: 100%; */
  /* margin-bottom: 30px; */
}

.append_right .mbtn.pg-next {
  margin-top: 0;
  padding: 3.5px 20px;
  background: #efefef;
  border: none;
  span {
    font-size: 14px;
    color: #333;
  }
}

.mbtn.share_btn {
  display: none;
}

.mpg-rel {}

.form-select {
  /* height: 32px; */
  select {
    position: relative;
    top: 5px;
  }
}

.footer {
  padding: 0;
}

#_cgptlist_select-page {
  text-align: center;
  padding: 10px 20px;
}

ul.navbar-nav {
  margin-top: 0;
}

.module.module-minicart {
  /* display: none; */
  /* background: #000; */
}

.module-minicart {
  .mbtn-minicart {
    display:none;
    background: none;
    border: none;
    box-shadow: none;
  }
  .ico.i-cart{
    background: url('/ezfiles/325/1325/img/2326/right_btn_23.png') no-repeat;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
  }
}

.header {
  box-shadow: none;
}

.footer {
  background: none;
}

.mb {
  padding-top: 0;
}

.showother .consignee-btn-add, .ecconsignee-add .form-btn .mbtn-top {
  background-color: #000;
}

.showother .consignee-btn-add span, .ecconsignee-add .form-btn .mbtn-top span {
  color: #fff;
}

.ok span {
  &:before, &:after {
    background-color: #000;
  }
}

.close span {
  &:before, &:after {
    background-color: #000;
  }
}

body {
  background: #f9ffc3;
}

/*hover展開選單*/
@media (min-width: 768px) {
  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-toggle {
    cursor: default;
  }
}

/*預設設定*/

* {
  font-family: "微軟正黑體","Microsoft Jhenghei","Arial","sans-serif";
  font-size: 16px;
  color: #333;
}

p {
  font-size: 13px;
  line-height: 2em;
}

a:hover {
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }
}

[class*="col-"] {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (min-width: 992px) {
  .container {
    width: 800px;
    padding: 0;
  }
}

/*end*/

/*head*/

.member_module {
  background: #000;
  padding: 2px 0;
}

.hdmenu {
  float: left;
  .navbar-nav > li {
    float: left;
  }
}

.facebook_link {
  display: flex;
  margin-top: 5px;
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
  a {
    overflow: hidden;
  }
}

a.facebook_link img:last-child {
  margin-right: -25px;
  width: 29px;
  height: 29px;
}

.hdmenu {
  margin-right: -15px;
  .navbar-nav > li {
    &::after {
      content: "|";
      color: #fff;
      position: absolute;
      right: 0;
      top: 7px;
    }
    a {
      color: #fff;
      font-size: 14px;
    }
  }
}

.append_module {
  float: right;
}

.navbar-default {
  margin-bottom: 0;
  background: #f9ffc3;
  border: none;
}

.container > .navbar-header {
  width: 100%;
  height: auto;
  display: block;
  min-height: auto;
}

.navbar .container .navbar-brand {
  width: 40%;
  height: auto;
  margin: 0px 0;
  padding: 0;
  display: block;
  &.tel_head {
    width: 30%;
    float: right;
    position: relative;
    top: 2em;
  }
}

.navbar-header img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.search_module {
  display: none;
  width: 100%;
  height: auto;
  .input-group {
    width: 30%;
    margin-left: 70px;
  }
}

.navbar-default .navbar-collapse {
  display: block;
  height: auto;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

#defaultNavbar1 {
  #sch_key.form-control {
    width: 150px;
    border: none;
    background: #fff;
    color: #000;
    padding: 3px 10px 3px;
    border-radius: 0px;
    height: 45px;
    margin-top: 3px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #eee;
    &::-webkit-input-placeholder {
      color: #fff;
      padding-left: 5px;
    }
  }
  .input-group-btn:last-child > .btn {
    border: none;
    background: none;
    position: absolute;
    right: 5px;
    top: 12px;
    z-index: 9999;
    padding: 0;
  }
}

ul.navbar-nav {
  width: 100%;
}

#defaultNavbar1 .navbar-nav > li {
  width: auto;
  padding: 3px 3px 0;
  border-left: 1px solid #ccc;
  &:last-child {
    width: 150px;
  }
  > a {
    text-align: center;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
    transition: .2s ease-in;
  }
  &:first-child > a {
    padding: 15px 30px 15px 30px;
  }
  a span {
    color: #aaa;
    margin-top: -3px;
    font-size: 12px;
  }
}

.mini_navbar {
  display: block;
}

#defaultNavbar1 {
  .dropdown-menu {
    left: 0%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: rgba(224, 249, 151, 0.7);
  }
  .ul_wrapper.dropdown-menu {
    position: absolute;
    top: 55px;
    left: -208%;
    width: 940px;
  }
}

.ul_wrapper.dropdown-menu ul {
  display: block;
  width: 25%;
  float: left;
  padding-left: 0px;
  li {
    margin: 5px 0;
    list-style-type: none;
  }
}

#defaultNavbar1 .ul_wrapper.dropdown-menu ul li a {
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 20px;
}

.dropdown-menu > li {
  margin: 5px 0;
  > a {
    font-size: 14px;
    padding: 10px 15px;
    font-weight: normal;
    transition: .2s ease-in;
  }
}

/*head-end*/
/*輪播圖*/

.banner {
  &.head .owl-carousel::before {
    content: "";
    display: block;
    width: 100%;
    height: 55%;
    background: #000;
    position: absolute;
    top: 25%;
    left: 0;
    background: url('/ezfiles/325/1325/img/2326/banner1_before.png') center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 2;
  }
  .owl-carousel {
    .owl-controls {
      position: absolute;
      width: 100%;
      bottom: -53px;
    }
    .owl-dots .owl-dot {
      span {
        width: 7px;
        height: 7px;
        margin-left: 5px;
        margin-right: 5px;
      }
      &.active span {
        background: #000;
        opacity: .7;
      }
    }
  }
}

.product {
  padding: 20px 0 15px;
  .row .col-xs-12 {
    padding: 10px;
    overflow: hidden;
    position: relative;
    &.col-sm-8 a img {
      opacity: 1;
      transition: .3s ease-in;
    }
    img {
      border: 0.5px solid #ccc;
    }
    &:nth-of-type(1) img, &:nth-of-type(2) img, &:nth-of-type(3) img {
      border-color: #327550;
    }
    &:nth-of-type(4) img {
      border-color: #ea5514;
    }
  }
  a h3.title {
    position: absolute;
    bottom: 0;
    width: 92.5%;
    padding-left: 20px;
    padding: 20% 0px 15% 20px;
    font-size: 18px;
    font-weight: bold;
  }
  .col-sm-8 a h3.title {
    width: 96%;
    padding: 9% 0px 9% 20px;
  }
  a h3.title::after {
    content: "";
    background: url('/ezfiles/348/1348/img/2542/arrow_b.png') no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 15px;
    right: 20px;
    opacity: 0;
    transition: .3s;
  }
  .row .col-xs-12 {
    &:nth-of-type(3) a h3.title::after, &:nth-of-type(4) a h3.title::after {
      background: url('/ezfiles/348/1348/img/2542/arrow_w.png') no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      width: 20px;
      height: 20px;
    }
    &.col-sm-8:nth-of-type(1) h3.title, &:nth-of-type(2) h3.title {
      background: rgba(255, 255, 255, 0.83);
      color: transparent;
      transform: translate(0, 250px);
    }
    &:nth-of-type(3) h3.title {
      background: rgba(143, 195, 31, 0.64);
      color: transparent;
      transform: translate(0, 200px);
    }
    &:nth-of-type(4) h3.title {
      background: rgba(243, 152, 0, 0.8);
      color: transparent;
      transform: translate(0, 200px);
    }
  }
}

.foot {
  padding-top: 25px;
  padding-bottom: 20px;
  background: #e0f997;
  h1.title {
    font-size: 26px;
    font-weight: bold;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }
}

.redmedia {
  text-align: center;
  a {
    color: #999;
    font-size: 12px;
  }
}

.owl-controls {
  display: none;
}