/*左側選單*/

/*齒輪動畫keyframe*/
@keyframes rotate-lb{
	from{
		transform:rotateZ(0deg);
	}
	to{
		transform:rotateZ(360000deg);		
	}
}
@keyframes rotate-rt{
	from{
		transform:rotateZ(0deg);
	}
	to{
		transform:rotateZ(-180000deg);		
	}
}

.left-menu{
	padding-right: 1em;
	.panel-default{
		border:none;
		background-color: transparent;
		box-shadow:none;
		margin-bottom: 1.5em;
		.panel-heading{
			padding:0;
			background: none;
			a{
				h4,span{
					display:block;
					font-size: 1.2em;
				}
				span{
					font-size: 0.8em;
				}
				&.panel-title.collapsed{					
					h4{
						position:relative;
						padding-left: 2.3em;
						&::before{
							content:'';
							display:block;
							background: url('/ezfiles/348/1348/img/2542/lb.png') no-repeat;
							background-size: cover;
							width: 1.5em;
							height: 1.5em;
							position:absolute;
							left:0;
							bottom:0;
							animation-duration: 0s;
						}
						&::after{
							content:'';
							display:block;
							background: url('/ezfiles/348/1348/img/2542/rt.png') no-repeat;
							background-size: cover;
							width: 1em;
							height: 1em;
							position:absolute;
							left:1em;
							top:0;
							animation-duration: 0s;
						}
					}
				}
				&.panel-title,&.panel-title:hover{
					h4{
						position:relative;
						padding-left: 2.3em;
						&::before{
							content:'';
							display:block;
							background: url('/ezfiles/348/1348/img/2542/lb.png') no-repeat;
							background-size: cover;
							width: 1.5em;
							height: 1.5em;
							position:absolute;
							left:0;
							bottom:0;
						}
						&::after{
							content:'';
							display:block;
							background: url('/ezfiles/348/1348/img/2542/rt.png') no-repeat;
							background-size: cover;
							width: 1em;
							height: 1em;
							position:absolute;
							left:1em;
							top:0;
						}
						&::before{
							animation-duration: 3000s;
							animation-name:rotate-lb;
							animation-iteration-count:infinite;
							animation-direction:alternate;
						}
						&::after{
							animation-duration: 3000s;
							animation-name:rotate-rt;
							animation-iteration-count:infinite;
							animation-direction:alternate;
						}
					}
				}
			}
		}
		.panel-collapse{
			background: $color_1;
			padding:0.5em;
			.sec_bg{
				margin-bottom: 0;
				h4{
					padding:0.5em;
					transition:$transition_1;
					&:hover{
						background: $color_3;
						color:#fff;
					}
				}
			}
		}
	}
}