.module-{
	/*頁面明細頁*/
	&detail{
		.mpgtitle{
			display:none;
		}
	}
	/*商品明細*/
	&ecptdetail{
		.mpgtitle{
			background:none;
			border-left: none;
		}
	}
	/*語言*/
	&misc{
		display:none;
	}
	/*商品明細*/
	&ecptdetail{
		.mpro-wrap{
			margin-bottom: 2em;
			background: $color-4;
			border:2px solid $color-5;
			padding:1em;
			position: relative;
			.col-sm-5{
				width: 100%;
				max-width:100%;
				margin-top: 2.5em;
				border-top: 1px dashed #ccc;
				padding-top: 2em;
				.thumb-large{
					width: 80%;
					display:block;
					margin:0 auto;
				}
			}
			.col-sm-5{
				.owl-controls{
					display:block;
					.owl-nav{
						.owl-{
							&prev,&next{
								background-image: none;	
								text-indent:0;
								color:transparent;
								width: 4em;
								height: 4em;
								margin-bottom: 0;
								margin-top: -4em;
								display:flex;
								align-items:center;
								&:active{
									background: none;
								}
								&::before{
									content:"";
									display:flex;
									color:#607d04;
									font-size: 4em;
									position:relative;
									z-index: 99999;
									font-weight: bold;
								}
							}
							&prev{
								left:-3em;
								&::before{
									content:"<";
								}
							}
							&next{
								right:-4em;
								&::before{
									content:">";
								}
							}
						}
					}
					.owl-dots{
						margin-top: 1em;
						display:flex;
						align-items:center;
						justify-content:center;
						span{
							background:#607d04;
						}
					}
				}
			}
			.col-sm-7{
				position:absolute;
				width: 100%;
				top:1em;
				h3{
					padding:0;
					font-weight: bold;
				}				
			}
		}
	}
	&complex{
		.nav{
			.active a,.active a:hover,.active a:focus{
				font-size: 1.2em;
				font-weight: bold;
				background: none;
				border:none;
				padding:0 0 0.5em;
				margin-bottom: 0em;
			}
		}
		.page-product-detail{
			table{				
				tbody{
					tr{
						td{
							padding:0.5em 1em;
							border:1px solid #ccc;
							line-height:2em;
							&.green_color_1{
								background: $color_3;
								color:#fff;
							}
							&.green_color_2{
								background: $color_2;
							}
						}
					}
				}
			}
			.container{
				width: 100%;
				box-shadow:none;
				padding:1em 0;
				top:0;
			}
		}
		.tab-pane{
			padding:0;
		}
	}
	/*商品明細頭部*/
	&meccglist,& {
		.mt {
			padding-bottom: 1em;			
			h3{
				line-height:1em;
				padding-bottom: 0.5em;
				padding-left: 0;
				color:#000;
				border-color:#ccc;
				font-weight: bold;
			}
		}
	}
	&sublist{
		display:none;
	}
	/*搜尋結果頁面*/
	& {
		.msg{
			margin-bottom: 1em;
		}
	}
	/*商品明細內容*/
	&ptlist,& {
		.row.listBS{
			margin:2em 0;
			@media screen and (max-width:767px){
				margin:0;
				.d-item{
					margin:2em 0;
				}
			}
			&:first-child{
				margin-top: 0;				
			}
			&:last-child{
				margin-bottom: 0;
			}
			.d-item{
				.d-img{
					a{						
						height: auto;
						width: 100%;
						max-width: 100%;
						overflow:hidden;
						display:block;
						margin-left: auto;
						margin-right: auto;
						box-shadow: 0px 0px 1px 1px #ccc;
						background: $color-1;
						border: 2px solid $color-5;
						@media screen and (max-width:767px){
							width: 100%;
							height: auto;
							max-width:100%;
						}
						img{
							// width: 200%;
							height: auto;
							max-width: none;
							// transform: translateX(-25%);
							@media screen and (max-width:767px){
								width: 100%;
								transform: translateX(0);
								height: auto;
								max-width:100%;
							}
						}
					}
				}
				.d-txt{
					max-width:100%;
					display:block;
					text-align:center;
					margin-left: auto;
					margin-right: auto;
					margin-top: 0.2em;
					@media screen and (max-width:767px){
						width: 100%;
						height: auto;
						max-width:100%;
					}
					h5 a{
						background: $color_3;
						color:#fff;
						padding:1.5em 1em;
						display:block;
						width: 100%;
						font-size: 1em;
						border-radius: 0 0 15px 15px;
						line-height:1.5em;
						box-shadow: 1px 1px 1px 1px #ccc;
					}
				}
			}
		}
		.mpgbar{
			.mpg-btn{
				.mbtn{
					background: $color_3;
					span{
						color:#fff;
					}
				}
			}
			.form-control{
				background:$color_3;
				select{
					color:#fff;
				}
				&::after{
					border-color:#fff;
				}
			}
		}
	}
	/*最新消息列表*/
	&rcglist{
		.row.listBS{
			margin:2em 0;
			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		.d-txt{
			h5{
				a{
					font-weight: bold;
				}
			}
		}
		.mpgbar{
			.mpg-btn{
				.mbtn{
					background: $color_3;
					span{
						color:#fff;
					}
				}
			}
			.form-control{
				background:$color_3;
				select{
					color:#fff;
				}
				&::after{
					border-color:#fff;
				}
			}
		}
	}
}
.mpgdetail{
	padding:0;
}