/*上板選單圖片*/
.title-{
	/*圖片放的地方*/
	&aboutus{
		.title_bg{
			background: url("/ezfiles/348/1348/img/2542/aboutus.jpg") center center no-repeat;		
		}
	}
	&contactus{
		.title_bg{
			background: url("/ezfiles/348/1348/img/2542/contactus.jpg") center center no-repeat;		
		}
	}
	&product{
    .title_bg{
      		background: url("/ezfiles/348/1348/img/2542/product.jpg") center center no-repeat;    
    	}    
  	}
  	&newsdetail{
    .title_bg{
      		background: url("/ezfiles/348/1348/img/2542/news.jpg") center center no-repeat;    
    	}    
  	}
	/*圖片通用設定*/
	&aboutus,&contactus,&product,&newsdetail{
		height: 70vh;
    @media screen and (max-width:767px){
      height: 200px;
    }
		.title_bg{
			width: 100%;
			height: 100%;
			background-attachment: fixed;
			background-size: cover;
			@media screen and (max-width: 767px){
				background-size: 100%;
				background-attachment: scroll;
			}
			&::before{
				content:"";
				width: 100%;
				height: 100%;
				background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 27%, rgba(255,255,255,0.5)  49%, $color_1  76%, $color_1 100%);
				position:absolute;
				top:10em;
		        @media screen and (max-width:767px){
		          display:none;
		        }
			}
		}
	}
}

/*內頁*/
.page-{
	/*共同配置*/
	&aboutus,&contactus,&product,&newsdetail{
		> .container{
			padding:2em 1em;
			background: $color_2;
			position: relative;
			top:-5em;
			box-shadow:0px 0px 10px 1px #777;
			// width: 970px;
      @media screen and (max-width: 767px){
        top:0;
      }
			hr{
				border-color:#ccc;
				border-width:2px;
			}
		}
		h1.title{
			font-weight: bold;
			font-size:1.8em;
			line-height:1.5em;
			span{
				font-size: 0.5em;
				font-weight: normal;
			}
		}
		p{
			font-size: 1em;
		}
	}
	/*各頁面自行設置*/
	/*承力簡介*/
	&aboutus{
		.row{
			 display: -webkit-box;
			  display: -webkit-flex;
			  display: -ms-flexbox;
			  display:         flex;
			  align-items:center;
        @media screen and (max-width: 767px){
          display:block;
        }
		}
		.col-sm-6{
			padding:0 0.5em;
			img{
				border:5px solid #fff;
				box-shadow:0px 0px 0px 1px #ccc;
			}
		}
	}
	/*承力簡介*/
	&contactus{
		ul{
			list-style-type:none;
			padding-left:0.5em;
			line-height:1.5em;
			li{
				margin-bottom: 1.2em;
				font-size: 14px;
				font-weight: bold;				
			}
		}
		h1.title{
			a.pull-right{
				width: 2em;
				height: 2em;
			}
		}
		p img{
			border:5px solid #fff;
			box-shadow:0px 0px 0px 1px #ccc;
		}
		form{
			margin-top: 3em;
			border-color:transparent!important;
			.row,label[class*="col"],div[class*="col"]{
				border-color:transparent!important;
			}
			label.col-sm-3{
				width: 15%;
				padding-top: 0.5em;
				position:relative;
				top:0.1em;
				padding:0.3em 0!important;				
        @media screen and (max-width:767px){
          width: 100%;
        }
			}
			.col-sm-9{
				width: 85%;
				padding:0.3em 0!important;
				input{
					border-radius:0!important;
				}
			}
		}
		.form-btn{
			button{
				background: $color_3;
				color:#fff;
				border:none;
			}
		}
	}
	/*最新消息明細*/
	// &newsdetail{

	// }
}
.mobile_list_button{
  display:none;
  @media screen and (max-width: 767px){
    position: absolute;
    z-index: 9;
    top: 3px;
    left: 1px;
    background: $color_2;
    border: 2px dashed #fff;
    color: #fff;
    box-shadow: 0px 0px 0px 3px $color_2;
    border-radius: 0px 10px 10px 0;
    padding: 7.5px 0.5em;
    color:#000;
  }
}
@media screen and (max-width: 767px){
  .input-group{
    display:block;
  }
}